/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.join {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}

.event {
  height: 100px;
}

.donate-title {
  font-size: 1.25rem;
}
